.component_header {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 1px -1px black;
    padding: 40px 0;
}

.header_text {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.header_search_bar {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(177, 175, 175);
}

.header_search_bar > * {
    display: block;
}

.header_search_box {
    width: 300px;
    font-size: 17px;
    outline: none;
    border: none;
    padding: 7px;
}

.header_search_icon {
    font-size: 20px;
    padding: 7px;
    border-left: 1px solid black;
    color: rgb(44, 44, 44);
}

.select_genre {
    width: 200px;
    font-size: 17px;
    outline: none;
    padding: 5px 2px;
}

@media screen and (max-width: 900px) {
    .component_header {
        width: 90%;
    }
}

