.loader_container {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    display: flex;
    position: absolute;
}

.loader_content {
    margin: auto;
    color: black;
    text-align: center;
}

.loader_icon {
    margin: 10px 0;
    font-size: 55px;
}

.loader_text {
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}