/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Exo&family=Gemunu+Libre&family=Lato&family=Merienda&family=Noto+Sans&family=Saira+Condensed&family=Titillium+Web&family=Yaldevi&display=swap');

/* Fonts */

.f_balsamiq {
    font-family: 'Balsamiq Sans', cursive;
}

.f_exo {
    font-family: 'Exo', sans-serif;
}

.f_lato {
    font-family: 'Lato', sans-serif;
}

.f_merienda {
    font-family: 'Merienda', cursive;
}

.f_noto_sans {
    font-family: 'Noto Sans', sans-serif;
}

.f_saira {
    font-family: 'Saira Condensed', sans-serif;
}

.f_gemunu {
    font-family: 'Gemunu Libre', sans-serif;
}

.f_titillium {
    font-family: 'Titillium Web', sans-serif;    
}

.f_yaldevi {
    font-family: 'Yaldevi', sans-serif;
}


/* Utility classes */

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    /* text-align: center; */
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}
